* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

:root {
  /* 主题色 */
  --color-text-default: #333333;
  --color-text-unselected: #9B9B9B;
  --color-bg-base: #E9E9E9;
  --color-purple-primary: #7A63C7;
  --color-purple-secondary: #D2C8FD;
  --color-white: #FFFFFF;
  --color-yellow-primary: #FFD35E;
  --color-yellow-secondary: #FFEDBE;
  --color-red: #FF5E5E;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text-default);
  background-color: var(--color-white);
  font-size: 1.6rem; /* 16px 基础字体 */
}

#root {
  min-height: 100vh;
}
